.wrapper-course-material {
    .course-tabs {
        li {
            a,
            a:visited {
                &:hover,
                &:focus,
                &.active {
                    color: $theme-color-secondary !important;
                    border-bottom-color: $theme-color-secondary !important;
                }
            }
        }
    }
}
