<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About Online SGU")}</h1>
        <p>${_("St. George's University is offering free online courses from university faculty and staff. Our goal is to provide high quality courses that anyone can access. SGU Online is built on an instance of the OpenEdX platform.")}</p>
        <br>
        <h1>${_("FAQs")}</h1>
        <p><strong>${_("Q: What browsers are recommended for use with SGU Online?")}</strong></p>
        <p>${_("The latest versions of Google Chrome, Mozilla Firefox, and Apple Safari. ")}</p>
        <br>
        <p><strong>${_("Q: If I'm a St. George's University faculty member, and I'd like to use the platform to host content for an on-campus or public course, who should I get in touch with?")}</strong></p>
        <p>Click <a href="mailto:onlinesgu@gmail.com">here to get in touch</a></p>
    </section>
</main>
