<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact DCAS")}</h1>
        <p>For Civil Service &amp; Citywide Personnel Inquiries, call 311 and ask to be transferred to the "DCAS Civil Service IVR."
Callers can receive information about City hiring and civil service procedures and specific information about the civil service examinations they have filed for. The system is updated monthly to include the most recent information on the scheduling of examinations.</p>
	<ul>
	<li>Visit the&nbsp;<a href="../../html/work/civilservice.shtml">Civil Service Process</a>&nbsp;page for information online.</li>
<li><strong>Automated Phone System</strong> - Call DCAS at (212) 669-1357.</li>
</ul>
<br /><b>For FOIL Requests</b> <br />The Office of Records Access is responsible for reviewing requests made to the Agency under the Freedom of Information Law. 
<ul>
<li>To make a request, please email <a href="mailto:foilrequest@dcas.nyc.gov">foilrequest@dcas.nyc.gov</a> or you can submit your request via the <a href="http://www.nyc.gov/html/dcas/html/contact/email.shtml?13">FORM</a>. </li>
</ul>
<strong><br />For Real Estate Inquiries, call 311 and ask to be transferred to the "DCAS Asset Management."</strong><br />Callers can receive information on public auctions,&nbsp;leasing vacant lots, and filing&nbsp;complaints about City properties that require cleaning and/or fencing. 
<ul>
<li>Visit our&nbsp;<a target="_self" href="../../html/business/auto.shtml">Public Auctions</a>&nbsp;&amp;&nbsp;<a target="_self" href="../../html/business/real_estate_leasing.shtml">Leasing</a>&nbsp;pages for more information.</li>
<li>For inquiries regarding DCAS-managed buildings, visit our&nbsp;<a href="../../html/about/buildings.shtml">Public Buildings page</a>.</li>
</ul>
<strong><br />For Procurement &amp; Vendor Inquiries, call 311 and ask to be transferred to the "DCAS Vendor Relations Line."</strong> Callers can receive information on&nbsp;upcoming bids and how to register to be placed&nbsp;on&nbsp;our vendor lists. 
<ul>
<li>Visit the&nbsp;<a href="../../html/about/cityrecord.shtml">City Record Online</a> for more information on Procurement.</li>
</ul>
<strong><br />To report fraud, waste or serious mismanagement, please call:</strong> 
<ul>
<li>Inspector General Jodi Franzese, NYC Department of Investigation<br />212-825-5904.</li>
</ul>
<p style="MARGIN-top: 0px"><strong>You can call 311 (or 212-NEW-YORK if outside NYC) or write to us at:<br /></strong>NYC Department of Citywide Administrative Services<br />One Centre Street, 17th Floor South<br />New York, NY 10007</p>
<ul>
<li><a href="http://www.nyc.gov/html/mail/html/maildcas.html">E-mail the Commissioner</a>&nbsp;</li>
<li><a href="../../html/contact/email.shtml">E-mail DCAS</a>&nbsp;</li>
</ul>
    </section>
</main>
