<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("MPH FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("MPH Frequently Asked Questions")}</h1>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: Are my MPH courses going to be online?</h3>
        <p>Yes, some of your courses may be delivered in a dual-delivery format, where the course is offered simultaneously to on-campus and off-campus students. We see the enormous benefits to the students &amp; University to offer some courses in this format so they can be delivered to our students who are on campus <i>or</i> off campus.</p>
	</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: How will dual-delivery courses be different?</h3>       
<p>Dual-Delivery means that course lectures are simultaneously delivered in-person and online via web conference.</p>
        <p>Students who are on campus will be able to attend lectures and office hours in person. Students who are off campus will be able to attend these virtually. Online Global Health students have the option of watching the lecture recordings within a reasonable time frame (usually by end of week). Both cohorts will be required to use an online proctoring software for any proctored exams. </p>
<p>Beyond those differences, <i>all other elements</i> of the class will be identical for both groups. All students will complete the pre-lecture materials found on this website. Everyone will submit their assignments via the online course website. Everyone will receive the same status e-mails. All students should participate in the online forums.
</p> 
	</br>
<h3 style="font-weight: bold; padding-bottom: 10px;">Q: Do I still have to attend lecture?</h3>
	<p>Yes. For most courses and students, lecture attendance is required. For our 100% online Global Health track students, there is the option of watching the lecture recordings within a reasonable time-frame after the live lecture (usually by the end of the week).</p>
</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: Are my courses on MyCourses (Sakai)?</h3>
	<p>No, for the MPH program we’re working with a new platform called Online SGU which can be found at : https://online.sgu.edu/. You are here now. </p>
	</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: When and how can I access my classes?</h3>
	<p>After you <a href="/register" alt="Register for Online SGU">register</a> here with your <i>SGU e-mail address</i>, you should see your enrollments in your course dashboard. Usually, classes are made available 1-4 days before the first lecture.</p>
</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: Can I travel?</h3>
<p>Yes, as long as you can make the class times and have a reliable internet connection.</p>
</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: What are the technical requirements?</h3>
	<p>To participate in dual-delivery courses, you will need a computer with a working webcam and a microphone. You will also need an internet connection with a minimum speed of 3 Mbps Upload &amp; Download speed. You can test your connection at <a href="https://speedtest.net" alt="SpeedTest" target="_blank">speedtest.net</a>.</p>
	</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: Are there any other requirements?"</h3>
	<p>Please see your syllabus for each course for any course-specific requirements</p>
	</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: How will this affect me financially?</h3>
	<p>You have a <strong>potential</strong> costs savings with travel and accommodations but online students might need to invest in the technology needed to support taking online courses.</p>
	</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: What if my internet is bad?</h3>
	<p>If you choose to do the online program, it will be your responsibility to find a wired connection, faster computer, etc to ensure that you can participate in the virtual lectures. We will work with you during the first week of the term to determine what you need, if you are facing any issues.</p>
	</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: Will I be able to work with my professors? My classmates?</h3>
	<p>Online classes will include virtual office hours and group work will still be required. In addition, you may use free software like Google Hangouts or Skype to work with your peers.</p>
	</br>
	<h3 style="font-weight: bold; padding-bottom: 10px;">Q: Who should I contact with additional questions?</h3>
	<p>For further questions, please contact onlinesgu@gmail.com.</p>
    </section>
</main>
