.dashboard {
    .main-container {
        .my-courses {
            width: 100%;
            float: none;
            .listing-courses {
	        .course-item {
		    .course-container {
			border: none;
		    }
		}
	    }
	}
    }
    .wrapper-header-courses {
	padding: 0 10px;
        border-bottom: 4px solid $theme-color-secondary;
    }
    .wrapper-course-details{ 
	.course-title {
	    a{
	     color: $theme-color-secondary !important;	
	   }
	}
    }
    .my-courses {
	@media (min-width: 860px) {
	    width: 75%;
	}
        .listing-courses {
            .course-item {
		list-style: none;
		border-bottom: 4px solid $theme-color-secondary;
                .course-container {
                    list-style: none;
                }
            }
        }
        .course {
	    .details {
                .wrapper-course-actions {
                        width: auto !important;
                }
                .course-actions .action {
                        height: 35px;
                        padding: 8px !important;
                        color: #11375c !important;
                }
		.enter-course{
			border: 2px solid #11375c !important;
			border-radius: 0 !important;
			padding: 8px 20px !important;
			background-color: transparent !important;
			color: #11375c !important;	
			text-align: center !important;	
			text-transform: uppercase !important;
			line-height: 20.68px !important;
			font-size: 14px !important;
		    &:hover{
		        border: 2px solid #575656 !important;
			background-color: transparent !important;
			color: #575656 !important;
			text-decoration: none !important;
			border-radius: 0 !important;
		   }
		}		
	    }
	}
	.profile-sidebar {
            float: none;
            width: auto;
            margin-left: 0;
            padding: 20px 10px;
            @media all and (min-width: 860px){
                float: right;
                margin-left: 2.35765%;
                width: 23.23176%;
                margin-top: 40px;
                padding: 20px 0;
            }
        }
        .dashboard-search-bar {
            margin-left: 0;
            width: auto;
            float: none;
            padding: 0 10px;
            @media all and (min-width: 860px){
                width: 23.23176%;
                padding: 20px 0;
            }
        }
    }
}
